*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #d9dbdd;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #212529;
  color: white;
  padding: 19rem 300rem 19rem 300rem;
  margin-bottom: 30rem;
}

.mini-commerce {
  font-size: 32rem;
  font-weight: 600;
  color: white;
}

.shopping-cart {
  width: 40rem;
}

.cart-div {
  position: relative;
}

.cart-number {
  position: absolute;
  font-size: 20rem;
  background-color: #868e96;
  padding: 4rem 10rem 4rem 10rem;
  border-radius: 50%;
  left: 53%;
  top: -20%;
  font-weight: 300;
}

.search-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.search-label {
  font-size: 20rem;
  margin-bottom: 10rem;
  color: #212529;
  font-weight: 600;
  letter-spacing: 1rem;
}

.search-input {
  border: none;
  font-size: 18rem;
  font-weight: 100;
  width: 35%;
  padding: 3rem 9rem 3rem 5rem;
  border-radius: 10rem;
  margin-bottom: 45rem;
}

.search-input:focus {
  outline: 1rem #000000 solid;
}

.products-list,
.cart-list {
  margin-bottom: 15rem;
  list-style-type: none;
  padding-left: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  width: 80%;
  padding: 10rem 30rem 10rem 30rem;
  border-radius: 10rem;
  margin-bottom: 10rem;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  padding: 10rem 20rem 10rem 20rem;
  border-top: 1rem solid rgb(211, 211, 211);
}

li:first-child {
  border: none;
}

h1 {
  font-size: 24rem;
  color: #212529;
  font-weight: 600;
  margin-bottom: 5rem;
}

p {
  font-size: 17rem;
  color: #5e5f60;
  font-weight: 300;
  margin-bottom: 5rem;
}

.input-div {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-bottom: 10rem;
}

.amount-label {
  font-size: 17rem;
  text-align: center;
  color: #000000;
  font-weight: 400;
}

.amount-input {
  width: 30%;
  font-size: 17rem;
  border: 1rem solid rgb(203, 203, 203);
  border-radius: 7rem;
  padding: 4rem 0rem 3rem 4rem;
}

.add-btn {
  background-color: #212529;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 15rem;
  padding: 5rem 8rem 5rem 8rem;
  letter-spacing: 1rem;
  border-radius: 7rem;
}

.go-back-btn {
  background-color: #212529;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 18rem;
  padding: 9rem 17rem 9rem 17rem;
  letter-spacing: 1rem;
  border-radius: 7rem;
}

.add-btn:hover,
.go-back-btn:hover {
  background-color: #000000;
}

.total-price-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  margin-left: 900rem;
  padding: 9rem 20rem 9rem 20rem;
  border-radius: 7rem;
}

.total-text {
  font-size: 21rem;
  color: #212529;
  font-weight: 600;
  margin-bottom: 4rem;
}

.total-price {
  font-size: 18rem;
  color: #4e4e4f;
  font-weight: 300;
}

.empty-h1 {
  font-size: 45rem;
  margin-bottom: 40rem;
  color: #212529;
  padding-top: 40rem;
}
